# Puerto en el que se levanta la aplicación
PORT=

# Entorno de ejecución: development | production
NODE_ENV=

# URI de conexión a MongoDB Atlas (mongodb+srv://usuario:password@cluster/basededatos)
MONGO_URI=
